<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Home</title>
</head>
<body>
  <h1>Home</h1>
  <h2>
    สวัสดี
    <span th:text="${loginName}"></span>
  </h2>
  <hr>
  <p th:text="${age}"></p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at laboriosam molestias fugit rem possimus unde nostrum nobis, provident ipsum, sit aperiam consequatur. Tempora, ducimus hic corporis error voluptas non repudiandae omnis doloribus dicta totam ipsa odio molestiae laudantium dignissimos libero alias veritatis saepe, quam dolorem nam amet? Voluptate odio aliquid culpa soluta asperiores, fugit obcaecati, aliquam repellendus architecto ratione itaque temporibus voluptatibus assumenda distinctio eaque unde tempora ducimus. Dolor minima adipisci nesciunt expedita dolorum tempora molestias quasi! Laborum, necessitatibus corporis, iste doloribus explicabo deserunt quas commodi, illum similique qui inventore vel distinctio cumque recusandae laboriosam tempora esse aliquam mollitia.
</body>
</html>